/* ---------- global ---------- */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    font-family:sans-serif;
    overflow-x: hidden;
}
body{
    width: 100%;
}
h1{
    font-size: 48px;
    font-weight: 100;
    color: #5D72FF;
}
h3{
    font-size: 24px;
}
p{
    font-size: 16px;
}
.btnOutline{
    display: block;
    text-decoration: none;
    color: #5D72FF;
    border:2px solid #5D72FF;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 175px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin-top: 30px;
}
.btnFilled{
    display: block;
    text-decoration: none;
    color: white;
    background-color: #5D72FF;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 175px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin-top: 30px;
}

/* ---------- nav ---------- */

nav{
    line-height: 100px;
    text-align: right;
   /* padding: 0 40px 0 40px; */
}
nav a {
    text-decoration: none;
    color: #5D72FF;
    font-size: 20px;
    font-weight: 500;
}
nav a:first-child{
    float: left;
}
nav a img {
    vertical-align: middle;
}
nav a span {
    color: white;
    background-color: #5D72FF;
    padding: 5px 15px;
    font-weight: 100;
    margin-left: 7px;
    border-radius:1000px ;
    -webkit-border-radius:1000px ;
    -moz-border-radius:1000px ;
    -ms-border-radius:1000px ;
    -o-border-radius:1000px ;
}

/* ---------- Header ---------- */

header {
    height: 900px;
    min-height: 900px;
    padding: 0 5%;
    background-image: url(../images/background-header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    background-size: 80%;
    background-position-x: 600px;
    background-position-y: -400px;
}
header h1 {
    width: 40%;
    margin: 2em 0 0 0;
}

/* ---------- Team ---------- */

.team {
    text-align: center;
    padding:0 5%;
    margin-top: -60px;
    background-image: url(../images/background-team.png);
    background-repeat: no-repeat;
    background-position: center;
}
.team h1 {
    width: 50%;
    margin: 0 auto 0px auto;
}
.members {
    display: flex;
    justify-content: center;
}
.person {
    margin-top: 70px;
    padding: 20px;
}
.person img {
    border: 2px solid #5D72FF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.person  h3 {
    color: #AEB8FF;
    margin-bottom: 5px;
}
.person p {
    color: #A7A3A3;
}

/* ---------- about ---------- */

.about {
    padding: 5% 5% 0 5%;
    background-image: url(../images/background-about.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50%;
    background-position-x: -100px;
    height: 900px;
    min-height: 900px;
}
.about h1 {
    margin-bottom: 30px;
    padding-top:250px;
}
.icons img {
    margin-right:30px;
}
.about h1,.icons {
    margin-left: 50%;
}

/* ---------- Call To Action ---------- */

.callToAction {
    text-align: center;
    padding: 6em 5% 20em 5%;
    background-image: url(../images/background-calltoaction.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 50%;   
}
.callToAction h1,
.callToAction a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 60px;
}

/* ---------- Footer ---------- */

footer {
    padding: 0 5%;
    margin-bottom:40px;
    color:#5D72FF;
}
footer p, .pages {
    display: inline-block;
}
footer .pages {
    float: right;
}
footer .pages a {
    text-decoration: none;
    font-weight: 100;
    color:#5D72FF;
    margin-left:30px;

}

/* ---------- Responsive ---------- */

@media only screen and (max-width:1000px){
    header {
        height: 1200px;
        min-height: 1200px;
        background-image: url(../images/mobile-background-header.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
        background-size: 100%;
        background-position-x: 300px;
        background-position-y: 300px;
    }
    header h1 {
        width:100%;
    }
    .team {
        background-image: url(../images/mobile-background-team.png);
        background-size: 80%;
        background-position: top;
    }
    .team h1 {
        width:100%;
    }
    .about {
        background-image: url(../images/mobile-background-about.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: 70%;
        background-position-x: -100px;
        overflow-y: visible;
    }
    .about h1 {
        padding-top:800px;
    }
    .about h1, .icons {
        margin-left: 0;
    }
    .callToAction {
        margin-top: 18em;
        text-align: center;
        padding: 15em 5% 15em 5%;
        background-image: url(../images/mobile-background-calltoaction.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-y:140px;
        background-size: 70%;   
    }
    .callToAction h1 ,
    .callToAction a {
        margin-bottom: 30px;
    }
    footer {
        text-align: center;
    }
    footer .pages {
        visibility:hidden;
    }
    footer p ,
    footer .pages {
        display:block;
    }
}

@media only screen and (max-width:600px){
    header {
       height: 1000px;
       min-height: 1000px;
       background-image: url(../images/mobile-background-header.png);
       background-repeat: no-repeat;
       background-size: contain;
       background-position: bottom right;
       background-position-x: 100px;
       background-size: 120%;
    }
    header h1 {
       margin: 1em 0 0 0;
    }
    .team h1 {
       margin: 2em 0 20px 0;
    }
    .team .members {
        flex-direction: column;
        padding-bottom:60px;
    }
    .person {
        margin-top:-10px;
    }
    .about {
        padding: 0;
        margin-top: -35%;
        background-image: url(../images/mobile-background-about.png);
        background-size: contain;
        background-size: 100%;
        background-position-x: -100px;
        overflow-y: visible;
    }
    .callToAction {
        margin-top: 18em;
        text-align: center;
        background-image: url(../images/mobile-background-calltoaction.png);
        background-repeat: no-repeat;
        background-position: fixed;
        background-position-y: 50%;
        background-size: 90%;   
    }
}
